<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Local Restaurants</title>
</head>
<body>
    <form method="POST">
        <label for="postcode_input">Enter Postcode</label>
        <input id="postcode_input" autofocus name="postcode" type="text", value="{{ postcode }}">
        <button type="submit">Find Restaurants</button>
    </form>
    <br>
    <div>
        {% for restaurant in form %}
            <h3>{{ restaurant.name }}</h3>
            Address: {{ restaurant.address }}</br>
            Postcode: {{ restaurant.postcode }}</br>
            Rating: {{ restaurant.rating }}</br>
            Cuisine: {{ restaurant.cuisine_name }}</br>
            <hr>
        {% endfor %}
    </div>
</body>
</html>